<script setup lang="ts">
import MessageBox from '@/components/MessageBox.vue';
import MessageList from '@/components/MessageList.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดีจ้า', 'คิดถึงกันมั้ย', 'กินข้าวอ่ะยัง', 'รับทราบ!']
function send(message: string) {
  messages.value.push(message)
  answerWithComputer()

}
function answerWithComputer() {
  const ranAns = Math.floor(Math.random()*10000)%answers.length
  const answer = answers[ranAns] // const answer = answers[Math.floor(Math.random()*10000)%answers.length] // console.log(answer)  //ใช้ได้งานได้ปกติ
  messages.value.push(answer)
  nextTick(()=> {
    messageList.value?.updateUI()
  })
}
</script>

<template>
  <MessageList ref="messageList" :messages="messages"></MessageList>
  <MessageBox @send="send"></MessageBox>
</template>
